*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(43,43,43);
}

.container__bar{
  width: 100%;
  background-color: black;
}

.bar{
  height: 4px;
  background-color: red;
  width: 0%;
}

.botones{
  margin: 0 auto;
  padding-top: 20%;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.simiBoton{
  padding: 5px 20px;
  color: white;
  border: white solid 1px;
}